.btn {
	border-radius: 10px;
	cursor: pointer;
	width: 200px;
	background: none;
	margin: 10px 0;
	font-size: large;
  background-color: rgb(240, 167, 218);
}

.btn:hover {
	color:black;
  background-color: orange;

}

.btn-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px;
}

.App{
  width: 1200px;
  margin: 0 auto;
}

.container{
  display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.btn1{
  background-color: orange ;
  margin-left: 15px;
}

